# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# virtual env
.venv/
venv/
env/

# uv
.uv/
uv.lock

# =========================
# IDE
# =========================
.idea/
.vscode/
*.iml

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# Local runtime data ⭐⭐⭐
# =========================
workspace/
data/

# chroma vector db
*.sqlite3
*.bin

# =========================
# Model / cache
# =========================
*.gguf
*.pt
*.pth
*.safetensors

# =========================
# Env secrets
# =========================
.env
.env.*

# =========================
# Build
# =========================
dist/
build/
*.egg-info/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Temp
# =========================
tmp/
temp/